In [198]:
print('hello world')

hello world

In [199]:
x = 10
y = 'pakistan'

print('integer:',x)
print('string:',y)

integer: 10
string: pakistan

In [200]:
x = 10
x = 'converted to string'
print(x)

converted to string

In [201]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
#2myvar = "John" 
#my-var = "John"
#my var = "John"

In [202]:
x_str = "Hello World"
x_int = 20
x_flt = 20.5
x_com = 1j
x_list = ["apple", "banana", "cherry", 9]
x_tpl = ("apple", "banana", "cherry")
x_range = range(3,6)
x_dic = {"name" : "John", "age" : 36}
x_set = {"apple", "banana", "cherry"}
x_fset = frozenset({"apple", "banana", "cherry"}) 
x_bol = True

#print(type(x_rang))

for i in x_fset:
    print(i)

cherry
banana
apple

In [203]:
my_set = {1, 3}
print(my_set)



my_set.add(2)
print(my_set)


my_set.update([2, 3, 4])
print(my_set)


my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [204]:

my_set = {1, 3, 4, 5, 6}
print(my_set)

my_set.discard(4)
print(my_set)

my_set.remove(6)
print(my_set)

my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [205]:
x_str = str("Hello World")
x_int = int(100)
x_flt = float(100.5)
x_comp = complex(2j)
x_list = list(("apple", "banana", "cherry"))
x_tpl = tuple(("apple", "banana", "cherry"))
x_rang = range(10)
x_dic = dict(name="Ali", age=40)
x_set = set(("apple", "banana", "cherry"))
x_fset = frozenset(("apple", "banana", "cherry"))
x_bol = bool(15)
x_byt = bytes(15)
x_byt_arr = bytearray(15)
x_mem = memoryview(bytes(15))

In [206]:
value = '20'
prod_str = value * 3
prod_int = int(value) * 3

print(prod_str)
print(prod_int)

202020
60

In [207]:
x_comp = ''
print(x_comp)

In [208]:
print(x_dic)

{'name': 'Ali', 'age': 40}

In [209]:
x = int(20)   
y = int(5.8)
z = int("12") 

print(y)

5

In [210]:
x = float(30)     
y = float(4.5)  
z = float("456")  
w = float("5.6")

print(w)

5.6

In [211]:
x = str("Values are 1, 2, 4..") 
y = str(56)  
z = str(20.0)  
print(x)

Values are 1, 2, 4..

In [212]:
x = True
y = False

print(x)
print(y)
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
True
False
False

In [213]:
if (x):
    print("X is True")
else:
    print("X is False")

X is True

In [214]:
print(bool(0))
print(bool(1))
print(bool(-1))

False
True
True

In [215]:
print(bool("Hello"))
print(bool(''))
print(bool(""))
print(bool(' '))
print(bool('None'))
print(bool(None))

x= None
if (x):
    print("True")
else:
    print("False")

True
False
False
True
True
False
False

In [216]:
print(bool(None))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False

In [217]:

x = 15 
y = 2

res_add = x + y
res_sub = x - y
res_mul = x * y
res_div = x / y
res_mod = x % y
res_floor = x // y 
res_exp = x ** y
print(res_exp)
print(res_floor)

225
7

In [218]:
# Python Assignment Operators
x = 5 
print("x: ", x)

x += 3
print("x + 3: ", x)
x -= 3
print("x - 3: ", x)
x *= 3
print("x * 3: ", x)
x /= 3
print("x / 3: ", x)
x **= 3 
print("x ** 3: ", x)
x //= 3 
print("x // 3: ", x)
x %= 3
print("x % 3: ", x)

x:  5
x + 3:  8
x - 3:  5
x * 3:  15
x / 3:  5.0
x ** 3:  125.0
x // 3:  41.0
x % 3:  2.0

In [219]:

x = 6
print("\nx: ", x)

x &= 3                      
print("x & 3: ", x)
x |= 3                      

x = 6
x |= 3
print("\nx: ", x)
print("x | 3: ", x)

x = 6
print("\nx: ", x)
x ^= 3                     
print("x ^ 3: ", x)        

x = 6
print("\nx: ", x)
x >>= 2                      
print("x >> 3: ", x)

x = 6
print("\nx: ", x)
x <<= 3                     
print("x << 3: ", x)

x:  6
x & 3:  2

x:  7
x | 3:  7

x:  6
x ^ 3:  5

x:  6
x >> 3:  1

x:  6
x << 3:  48

In [220]:

a = 5
b = 7
print(a,"==",b, a==b)
print(a,"!=",b, a!=b)
print(a,">",b, a>b)
print(a,"<",b, a<b)
print(a,">=",b, a>=b)
print(a,"<=",b, a<=b)

5 == 7 False
5 != 7 True
5 > 7 False
5 < 7 True
5 >= 7 False
5 <= 7 True

In [221]:

x = True
y = False
print(x, "and", y, "=", x and y)
print(x, "or", y, "=", x or y)
print("not", x, "=", not x)

True and False = False
True or False = True
not True = False

In [222]:

x = 5
y = 5
print(x is y)      
print(x is not y)

True
False

In [223]:
x = [[5,10,15],20]
y = [5,10,15]
print(y in x)          
print(y not in x)

True
False

In [224]:

x = 6
print("\nx: ", x)
x &= 3                      # x = x & 3 
print("x & 3: ", x)

x = 6
print("\nx: ", x)
x |= 3                      # x = x | 3
print("x | 3: ", x)

x = 6
print("\nx: ", x)
x ^= 3                     
print("x ^ 3: ", x)        

x = 6
print("\nx: ", x)
x >>= 3                    
print("x >> 3: ", x)

x = 6
print("\nx: ", x)
x <<= 3                    
print("x << 3: ", x)

x = 6
print("\nx: ", x)
x = ~x                     
print("~x: ", x)

x:  6
x & 3:  2

x:  6
x | 3:  7

x:  6
x ^ 3:  5

x:  6
x >> 3:  0

x:  6
x << 3:  48

x:  6
~x:  -7

In [225]:
# List
my_list = ["apple", "banana", "cherry"]
print(my_list)

['apple', 'banana', 'cherry']

In [226]:
# Tuple
my_list = ("apple", "banana", "cherry")
print(my_list)

('apple', 'banana', 'cherry')

In [227]:
mytuple = ("apple", "banana", "cherry", "guava", "orange", 12, 5.0,"Ali")

print(mytuple[3:6])

('guava', 'orange', 12)

In [228]:
for x in mytuple:
    print(x)

apple
banana
cherry
guava
orange
12
5.0
Ali

In [229]:
for x in range(len(mytuple)):
    print(mytuple[x])

apple
banana
cherry
guava
orange
12
5.0
Ali

In [230]:

mytuple = ("apple", "banana", "cherry")
del mytuple

In [231]:
# Combining two tuples
mytuple1 = ("apple", "banana", "orange")
mytuple2 = ("guava", "orange", "lemon")
mytuple3 = mytuple1 + mytuple2 

print(mytuple3)

('apple', 'banana', 'orange', 'guava', 'orange', 'lemon')

In [232]:

index_num = mytuple3.index('guava')
print(index_num)


count_items = mytuple3.count('orange')
print(count_items)

3
2

In [233]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'banana', 'apple'}

In [234]:
for item in myset:
    print(item)

cherry
banana
apple

In [235]:
if 'cherry' in myset:
    print(item)

apple

In [236]:
myset.add('lemon')
print(myset)

{'cherry', 'lemon', 'banana', 'apple'}

In [237]:
myset.remove('lemon') # Get error if lemon not in set
print(myset)

myset.discard("lemon") # No error although if lemon not in set

{'cherry', 'banana', 'apple'}

In [238]:
#myset.update({'lemon','guava'}) # set  working
#myset.update(['lemon','guava']) # list also working
myset.update(('lemon','guava')) # tuple also working
print(myset)

{'guava', 'cherry', 'apple', 'banana', 'lemon'}

In [239]:
mydict = {
  "name": "Ali",
  "age": 30,
  "address": "House#400, Street#12"
}
print(mydict)

{'name': 'Ali', 'age': 30, 'address': 'House#400, Street#12'}

In [240]:
name = mydict['name']
print(name)

Ali

In [241]:

name = mydict.get('name')
print(name)

Ali

In [242]:


x = 100
y = 300

if x < y:
    print("x is less than y")

x is less than y

In [243]:
# If else statement

x = 400
y = 300

if x < y:
    print("x is less than y")
    
else:
    print("x is not less than y")

x is not less than y

In [244]:

x = 300
y = 300

if x < y:
    print("x is less than y")
    
elif x > y:
    print("x is greater than y")
    
else:
    print("Both are equal")

Both are equal

In [245]:
x = 100
y = 120
if x < y: print("x is less than y")

x is less than y

In [246]:
x = 5
y = 7
my_val = "apple" if x > y else "banana" if x < y else "cherry"
print(my_val)

banana

In [247]:


x = 50
y = 100


print("x greater") if x > y else print("x not greater")


print("x greater") if x > y else print("y greater") if x < y else print("Both are equal")

x not greater
y greater

In [248]:

x = 100
y = 100


my_val = "x greater" if x > y else "y greater" if x < y else "Both are equal"
print(my_val)

Both are equal

In [249]:

x = 100
y = 100

if not (x < y) and not (x > y):
    print("Both are equal")

Both are equal

In [250]:
if not (x < y or x > y):
    print("Both are equal")

Both are equal

In [251]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [252]:


for x in  "Pakistan":
    print(x)

P
a
k
i
s
t
a
n

In [253]:


for i in range(5): 
    print(i)

0
1
2
3
4

In [254]:
for i in range(2, 5):
    print(i)

2
3
4

In [255]:

sum = 0
for i in range(101): 
    sum += i
print(sum)

5050

In [256]:

sum = 0
for i in range(101): 
    if i == 51:
        break
    sum += i
    
print(sum)

1275

In [257]:

sum = 0
for i in range(101): 
    if i%2 != 0:
        continue
    sum += i
    
print(sum)

2550

In [258]:

for i in range(5):
    row = ""
    for j in range(6):
        row = row + str(j) + ","
    print(row)

0,1,2,3,4,5,
0,1,2,3,4,5,
0,1,2,3,4,5,
0,1,2,3,4,5,
0,1,2,3,4,5,

In [259]:

sum = 0
i = 1
while i <= 100:
    sum += i
    i += 1
print(sum)

5050

In [260]:

sum = 0
i = 1
while i <= 100:
    sum += i
    i += 1
    if i == 51:
        break
    
print(sum)

1275

In [261]:

sum = 0
i = 1
while i <= 100:

    if i%2 != 0:
        i += 1
        continue
        
    sum += i
    i += 1
    
print(sum)

2550

In [262]:

i = 0
while i < 5:
    row = ""

    j = 0
    while j < 6:
        row = row + str(j) + ","
        j += 1
    print(row)
    i += 1

0,1,2,3,4,5,
0,1,2,3,4,5,
0,1,2,3,4,5,
0,1,2,3,4,5,
0,1,2,3,4,5,

In [263]:
def my_function():
    print("This is my firt function in Python")

In [264]:
ret_value = my_function()

This is my firt function in Python

In [265]:
print(ret_value)

None

In [266]:

def my_function1(name):
    print("Hello,", name)


def my_function2(message, name):
    print(message , name)

In [267]:
my_function1("World")
my_function2("Hello,", "World")

Hello, World
Hello, World

In [268]:


def my_function(*args):
    args[0]
    for arg in args:
        print(arg)

my_function("Ali", 40, "Street#123")

Ali
40
Street#123

In [269]:


def my_function(*args):
    args[0]
    for arg in args:
        print(arg)

my_function("Ali", 40, "Street#123")

Ali
40
Street#123

In [270]:
# Arbitrary Keyword Arguments, **kwargs

def my_function(**args):
    print(args['name'])
    print(args['age'])
    print(args['address'])
    
    

my_function(name="Ali", age=40, address="Street#123")

Ali
40
Street#123

In [271]:


def my_function(age, name='No Name', address="No Address"):
    print(name)
    print(age)
    print(address)
    
my_function(age=40)

No Name
40
No Address

In [272]:

def my_function(values):
    print(values)
    
my_function(['Ali',30,'Adress'])

['Ali', 30, 'Adress']

In [273]:

def my_function():
    pass
    
my_function()

In [274]:

def fib(n):
    if(n <= 1):
        return 0
    
    elif(n == 2):
        return 1
    
    else:
        return fib(n-2) + fib(n-1)
    
n = 8
print("\n\nFibonacci number at position ", n, " is", fib(n))

Fibonacci number at position  8  is 13

In [275]:

def sum(n):
    if(n <= 1):
        return 1    
    else:
        return n + sum(n-1)
    
print("\nSum: ", sum(100))

Sum:  5050

In [276]:
x = lambda a, b : a + b


print(x(5,15))

20

In [277]:

def myfunc(n):
    return lambda a : a * n

lamda_func = myfunc(3) 

print(lamda_func(11))

33

In [278]:

def myfunc2(n):
    return lambda a : n ** a  

lamda_func2 = myfunc2(3)       


print(lamda_func2(4))

81

In [279]:
class MyClass:
    name = 'Sahir'

In [280]:
my_obj = MyClass()
my_obj.name

'Sahir'

In [281]:

class MyClass:
    def __init__(self, name, age=0, address='No Address'):
        self.name = name
        self.age = age
        self.address = address
    
my_obj = MyClass('Khan', 43, 'Hayatabad')
my_obj.address

'Hayatabad'

In [282]:

class MyClass:
    def __init__(self, name, age=0, address='No Address'):
        self.name = name         
        self._age = age            
        self.__address = address  
    
    def get_name(self):
        return self.name
    
    def get_age(self):
        return self._age -10

    def get_address(self):
        return self.__address

my_obj = MyClass('Khan', 43, 'Hayatabad')

print(my_obj.get_name())
print(my_obj.get_age())
print(my_obj.get_address())

Khan
33
Hayatabad

In [283]:
# Inheritance 
class Employee:
    def __init__(self, fname, lname):
        self.firstname = fname
        self._lastname = lname

    def __str__(self):
        return self.firstname + " " + self._lastname
    
    def __repr__(self): 
        return 'First Name: {}, Last Name: {}'.format(self.firstname,self._lastname) 

class Teacher(Employee):
    def __init__(self, fname, lname, specialization):

        super().__init__(fname, lname)
        self.specialization = specialization
    
    def __str__(self):
        return super().__str__() + " with specialization  " + self.specialization

    def __repr__(self): 
        return super().__repr__() + ', Specialization: {}'.format(self.specialization) 


teacher_obj = Teacher("Muhammad", 'Khan', "Information Security")
print(teacher_obj)            
print(teacher_obj.__str__())  
print(teacher_obj.__repr__())

Muhammad Khan with specialization  Information Security
Muhammad Khan with specialization  Information Security
First Name: Muhammad, Last Name: Khan, Specialization: Information Security

In [292]:
f = open("train.csv")
line = f.readline()

while(line):
    print(line)
    line = f.readline()

In [285]:
f = open("TestFile.txt", "w")
f.write("Hello, World!")
f.close()

f = open("TestFile.txt", "r")
print(f.read())
f.close()

Hello, World!

In [286]:
f = open("TestFile.txt", "a")
f.write("\nAgain Hello, World!")
f.close()

f = open("TestFile.txt", "r")
print(f.read())
f.close()

Hello, World!
Again Hello, World!

In [287]:


with open("TestFile.txt", "r") as f:
    print(f.read())

Hello, World!
Again Hello, World!

In [288]:

f = open('Train.csv', 'w')

import os
if os.path.exists("TestFile.txt"):
    os.remove("TestFile.txt")
    print("File removed")
else:
    print("There is no such file exist")

File removed

In [289]:

if os.path.exists("Trani.csv"):
    os.remove("TestFile.txt")
    print("File removed")
else:
    print("There is no such file exist")

There is no such file exist

In [290]:


import os
os.mkdir("mydir")

In [291]:


import os
if os.path.exists("mydir"):
    os.rmdir("mydir")
    print("Deleted")

Deleted